*{
  font-family: sans-serif;
}
html{
  width: 100%;
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
}
#root {
  width: 100%;
  min-height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
}



