/* Setup */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@400;700&display=swap');
* {
  font-family: 'Alata', sans-serif;
  /* box-sizing: border-box; */
}
html{
  width: 100%;
  min-height: calc(100% - 56px);
  margin-top: 56px;
}
body {
  width: 100%;
  min-height: 100%;
}
#root {
  width: 100%;
  min-height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
}

.main__board{
  width: 100%;
  min-height: 100%;
}

.home__board,.list__board,.login__board,.register__board{
  width: 100%;
  min-height: 100%;
}

/* Breadcum */

.dino__breadcum__active{
  text-decoration: underline;
  color:#0A58CA;
}


/* Footer */

.dino__footer{
  background-color: #F4F4F4;
}

.dino__footer h3{
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

/* List */

.dino__list__list{
  padding: 10px 20px;
  background-color: #F4F4F4;
  text-align: justify;
}

.dino__list__list h4{
  padding: 0;
}

.dino__list__list table{
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  width: 100%;
}

.dino__list__list th, .dino__list__list td{
  padding: 5px 20px;
  background-color: white;
  border: 2px solid #F4F4F4;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
 }

 .dino__category__list th:first-child, .dino__category__list td:first-child{
   max-width:100px;
   text-align: center;
 }

 .dino__mesozoic__list table th{
    width: 150px;
 }

 .dino__mesozoic__table th:first-child,  .dino__mesozoic__table td:first-child{
  max-width: 60px;
  text-align: center;
 }

 /* Profile */
 .dino__profile__info{
  padding: 10px 20px;
  background-color: #FFFFFF;
}

.dino__profile__info input{
  border-radius: 0;
  border: 2px solid black;
}

.dino__profile__info button{
  border-radius: 50px;
  padding: 10px 0;
  color: white;
  transition: all 0.3s linear;
  opacity: 1;
}

.dino__profile__info button:hover{
  opacity: 0.7;
}

.dino__profile__info button:first-child{
  background-color: #037097;
}

.dino__profile__info button:last-child{
  background-color: #D95140;
}

.wrapperClassName{
  display: flex;
}


.dino__profile__avatar img{
  cursor: pointer;
  user-select: none;
  transition: opacity 0.4s;
  opacity: 1;
}

.dino__profile__avatar img:hover{
  opacity: 0.7;
}

.dino__profile__control{
  background-color: #FFFFFF;
  padding-bottom: 0;
}
 
.dino__profile__control .nav-link{
  color: #212529 !important;
  position: relative;
}

.dino__profile__control .nav-link::before{
  content: '';
  background-color: black;
  position: absolute;
  z-index: 1000;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 0.3s linear;
}

.control__active::before{
  content: '';
  background-color: black;
  position: absolute;
  z-index: 1000;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100% !important;
}

.dino__profile__control .nav-link:hover::before{
  width: 100%;
}

.dino__control__active{
  display: block !important;
}

.dino__control__item{
  display: none;
}
/* Detail */

.dino__detail__list{
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.dino__detail__list table{
  border-collapse: collapse;
}

.dino__detail__list h4{
  padding: 0;
}

.dino__detail__list div{
  padding: 0;
}

.dino__detail__list th, .dino__detail__list td{
 padding: 5px 20px;
 background-color: white;
 border: 2px solid #F4F4F4;
}

.dino__detail__earth{
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.dino__detail__earth iframe{
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 300px;
}

.dino__detail__earth table{
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
}

.dino__detail__earth th, .dino__detail__earth td{
  padding: 5px 20px;
  background-color: white;
  border: 2px solid #F4F4F4;
}

.dino__detail__earth div:nth-child(1){
  text-align: center;
}

.dino__detail__earth h4{
  padding: 0;
}

.dino__detail__map{
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.dino__detail__map h4{
  padding: 0;
}

.dino__detail__map table{
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
}

.dino__detail__map th, .dino__detail__map td{
  padding: 5px 20px;
  background-color: white;
  border: 2px solid #F4F4F4;
}

.dino__detail__collection__item{
  border: 1px solid grey;
  margin-bottom: 20px;
}

.dino__detail__collection__item img{
  cursor: pointer;
}

.dino__detail__map>div{
  padding: 0;
  margin-bottom: 20px;
}
/* Collection */

/* Home */

.dino__list{
  position: relative;
}

.dino__item{
  position: relative;
  top: 0px;
  transition: top 0.3s linear;
}

.dino__item:hover{
  top: -10px;
}

.dino__filter{
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.dino__filter select{
  border-radius: 0;
  border: 2px solid #212529;
}

.dino__filter button{
  opacity: 1;
  transition: all 0.3s linear;
  border-radius: 50px;
  padding: 10px 0;
}

.dino__filter button:first-child{
  background-color: #037097;;
  color: white;
}

.dino__filter button:last-child{
  background-color: #212529;
  color: white;
}

.dino__filter button:hover{
  opacity: 0.7;
}

.dino__search{
  padding: 10px 20px;
  background-color: #F4F4F4;
}

.dino__search__bar{
  border: 2px solid #212529;
  padding: 0;
}

.dino__search__bar .form-control{
  border: none;
  border-radius: 0;
}

.dino__search__bar input{
  border-right: 2px solid #212529 !important;
}

.dino__search__bar button{
  background-color: #FFFFFF;
  border-radius: 0;
  color: black;
  transition: all 0.2s linear;
}

.dino__search__bar button:hover{
  background-color: #212529;
  color: white;
}

/* Register */
.dino__register__list{
  padding: 10px 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dino__register__social i{
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  margin: 0 5px;
  color: #4BA0E8;
  transition: opacity 0.3s;
  opacity: 1;
}

.dino__register__social i:hover{
  opacity: 0.7;
}

.dino__register__social i:first-child{
  color: #455791;
}

.dino__register__social i:last-child{
  color: #D95140;
}



.dino__register__list form{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.dino__register__list form input{
  border-radius: 0;
}

.dino__register__list form button{
  border-radius: 50px;
  padding: 10px 0;
  background-color: #037097;
  transition: all 0.3s linear;
  opacity: 1;
}
.dino__register__list form button:hover{
  opacity: 0.7;
}

/* Login */
.dino__login__list{
  padding: 10px 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dino__login__social i{
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  margin: 0 5px;
  color: #4BA0E8;
  transition: opacity 0.3s;
  opacity: 1;
}

.dino__login__social i:hover{
  opacity: 0.7;
}

.dino__login__social i:first-child{
  color: #455791;
}

.dino__login__social i:last-child{
  color: #D95140;
}

.dino__login__list form{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.dino__login__list form input{
  border-radius: 0;
}

.dino__login__list form button{
  border-radius: 50px;
  padding: 10px 0;
  background-color: #037097;
  transition: all 0.3s linear;
  opacity: 1;
}

.dino__login__list form button:hover{
  opacity: 0.7;
}

/* Background */
.background__active{
  background-image: url(../public/Backgrounds/Login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.background__active .breadcrumb-item{
  color: white !important;
}

/* Navbar */

@media (min-width: 1024px) {
  .dino__navbar{
    min-height: 56px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .dino__navbar__item{
    text-align: center;
    padding: 16px 0;
    position: relative;
    text-decoration: none;
  }

  .dino__navbar__item__search{
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #001825;
    transition: all 0.3s linear;
  }

  .dino__navbar__item__search:hover{
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  }
  
  .dino__navbar__item::before{
    content: '';
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.2s linear;
  }
  
  .dino__navbar__item:hover{
    background-color: #E39A0A;
  }
  
  .dino__navbar__item:hover::before{
    height: 5px;
  }
  
  .dino__navbar__item .nav-link{
    padding: 0;
    color: black !important;
  }
  
  .active{
    background-color: #E39A0A;
  }
  
  .active::before{
    content: '';
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.2s linear;
    height: 5px;
  }
  
}

@media (max-width: 1023px) {
  .dino__navbar__item{
    text-decoration: none;
  }

  .dino__navbar__item__search{
    margin-left: 0 !important;
    color: #001825;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .dino__navbar__item__search:hover{
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  }
}

/* Search */
.modal-backdrop{
  z-index: 1020 !important;
}

.modal-content{
  border-radius: 0;
  background-color: #001825;
  color: white;
  
}

.modal-header{
  position: relative;
}

.modal__close{
  position: absolute;
  color: white !important;
  right: 20px;
  top: 22px;
}


